.clock {
    width: 200px;
    height: 200px;
    display: block; /*display block para q cuando el margin este en auto me lo centre*/
    position: relative; /*lo necesito para que los elementos queden dentro del reloj*/
    margin: 0 auto;
    border: 5px dashed #fcc;
    border-radius: 50%;
    background-color: violet;
}

/* AGUJAS */
.hour-hand, .minute-hand, .second-hand{
    position: absolute; /*para que no ocupe espacio y pueda super ponerlo con las demas agujas*/
    left: 100px; /*los ponemos en el centro (100px es el centro pq es la mitad del ancho q es 200px)*/
    transform-origin: bottom; /*el transform origin sirve para que hagamos la rotacion desde en este caso el piso de cada aguja*/
}

.hour-hand {
    top: 60px; /*los tops para cada aguja son diferentes pq su heights tambien*/
    width: 7px;
    height: 40px;
    background-color: #0f0;
    border-radius: 20%;
}
  
.minute-hand {
    top: 40px; /*los tops para cada aguja son diferentes pq su heights tambien*/
    width: 4px;
    height: 60px;
    background-color: #000;
    border-radius: 40%;
}
  
.second-hand {
    top: 30px; /*los tops para cada aguja son diferentes pq su heights tambien*/
    width: 2px;
    height: 70px;
    background-color: #f00;
    border-radius: 90%;
}
/* AGUJAS */

/* punto centro del reloj */
.clock-point {
    position: absolute;
    left: 95.8px; /*para que quede lo mas en el centro posible*/
    top: 93px; /*para que quede lo mas en el centro posible*/
    width: 15px;
    height: 15px;
    background-color: #0bb;
    border-radius: 50%
}